/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

ion-button {
    --background: #4a5d88;
    --background-activated: #4e68a5;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

ion-toolbar {
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #e33922;
    color: #ffffff;
}